---
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Companies from "../components/Companies.astro";
import "../styles/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tourism</title>
  </head>
  <body class="dark:bg-gray-800">
    <Header />
    <Main />
    <Companies />
  </body>
</html>
