---
import "../styles/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="flex flex-col bg-gray-300 py-30">
        <div class="flex justify-center gap-60">
          <h1>نام شرکت</h1>
          <h1>مقصد</h1>
          <h1>هتل</h1>
          <h1>مترجم</h1>
          <h1>اقدامات</h1>
        </div>
        <div
          class="mx-10 flex justify-center gap-60 items-center bg-white rounded-2xl border-[1px] border-black h-24"
        >
          <div class="flex justify-center items-center">
            <img
              src="/src/images/avatar-4.jpg"
              alt=""
              class="rounded-full w-20 mx-5"
            />
            <div class="flex flex-col">
              <h1>تست</h1>
              <p>تست</p>
            </div>
          </div>
          <h1>پاریس</h1>
          <h1>تست</h1>
          <h1 class="p-3 bg-green-200 text-green-600 rounded-full my-5">
            دارد
          </h1>
          <div class="flex gap-5">
            <button
              class="rounded-2xl border-[1px] border-purple-600 text-purple-600 p-3"
              >ثبت نام</button
            >
            <button class="rounded-[100%] bg-gray-200 p-3 text-black hover:bg-gray-300 transition-all"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div
          class="my-5 mx-10 flex justify-center gap-60 items-center bg-white rounded-2xl border-[1px] border-black h-24"
        >
          <div class="flex justify-center items-center">
            <img
              src="/src/images/avatar-4.jpg"
              alt=""
              class="rounded-full w-20 mx-5"
            />
            <div class="flex flex-col">
              <h1>تست</h1>
              <p>تست</p>
            </div>
          </div>
          <h1>پاریس</h1>
          <h1>تست</h1>
          <h1 class="p-3 bg-green-200 text-green-600 rounded-full my-5">
            دارد
          </h1>
          <div class="flex gap-5">
            <button
              class="rounded-2xl border-[1px] border-purple-600 text-purple-600 p-3"
              >ثبت نام</button
            >
            <button class="rounded-[100%] bg-gray-200 p-3 text-black hover:bg-gray-300 transition-all"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div
          class="mx-10 flex justify-center gap-60 items-center bg-white rounded-2xl border-[1px] border-black h-24"
        >
          <div class="flex justify-center items-center">
            <img
              src="/src/images/avatar-4.jpg"
              alt=""
              class="rounded-full w-20 mx-5"
            />
            <div class="flex flex-col">
              <h1>تست</h1>
              <p>تست</p>
            </div>
          </div>
          <h1>پاریس</h1>
          <h1>تست</h1>
          <h1 class="p-3 bg-red-200 text-red-600 rounded-full my-5">
            ندارد
          </h1>
          <div class="flex gap-5">
            <button
              class="rounded-2xl border-[1px] border-purple-600 text-purple-600 p-3"
              >ثبت نام</button
            >
            <button class="rounded-[100%] bg-gray-200 p-3 text-black hover:bg-gray-300 transition-all"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div
          class="my-5 mx-10 flex justify-center gap-60 items-center bg-white rounded-2xl border-[1px] border-black h-24"
        >
          <div class="flex justify-center items-center">
            <img
              src="/src/images/avatar-4.jpg"
              alt=""
              class="rounded-full w-20 mx-5"
            />
            <div class="flex flex-col">
              <h1>تست</h1>
              <p>تست</p>
            </div>
          </div>
          <h1>پاریس</h1>
          <h1>تست</h1>
          <h1 class="p-3 bg-green-200 text-green-600 rounded-full my-5">
            دارد
          </h1>
          <div class="flex gap-5">
            <button
              class="rounded-2xl border-[1px] border-purple-600 text-purple-600 p-3"
              >ثبت نام</button
            >
            <button class="rounded-[100%] bg-gray-200 p-3 text-black hover:bg-gray-300 transition-all"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                ></path>
              </svg>
            </button>
          </div>
        </div> 
      </section>
    </main>
  </body>
</html>
