---
import "../styles/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="flex flex-col bg-gray-300 py-30">
        <div class="flex justify-center gap-60">
          <h1>نام شرکت</h1>
          <h1>مقصد</h1>
          <h1>هتل</h1>
          <h1>مترجم</h1>
          <h1>اقدامات</h1>
        </div>
        <div class="mx-10 flex justify-center gap-60 items-center bg-white rounded-2xl border-[1px] border-black h-24">
          <div class="flex justify-center items-center">
            <img src="/src/images/avatar-4.jpg" alt="" class="rounded-full w-20 mx-5"/>
            <div class="flex flex-col">
                <h1>تست</h1>
                <p>تست</p>
            </div>
          </div>
          <h1>پاریس</h1>
          <h1>تست</h1>
          <h1 class="p-3 bg-green-200 text-green-600 rounded-full my-5">دارد</h1>
          <div class="flex gap-5">
          <button>ثبت نام</button>
          <button>save</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
