---
import "../styles/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- HEADER -->

    <header class="w-full">
      <nav class="h-14 w-full bg-white border-b border-gray-300">
        <section class="w-full p-[1rem] flex justify-between items-center">
          <!-- HAMBURGER MENU -->

          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 sm:hidden"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </div>

          <!-- DESKTOP NAVBAR -->

          <div class="hidden sm:flex items-center gap-4 ml-0">
            <a href="#" class="text-sm font-medium text-gray-700 px-0">خانه</a>
            <div x-data = "{ open : false }" class="flex gap-2">
              <span x-on:click="open = true" class="text-gray-700">تور های داخلی</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-gray-700"
                x-bind:class="{'rotate-180' : open}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
              </svg>
            </div>
            <div class="flex gap-2">
              <span class="text-gray-700">تور های خارجی</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-gray-700"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
              </svg>
            </div>
            <a href="#" class="text-sm font-medium text-gray-700 px-0">مجله</a>
            <a href="#" class="text-sm font-medium text-gray-700 px-0"
              >افتخارات</a
            >
          </div>

          <!-- RIGHT SIDE -->

          <div class="flex items-center flex-row-reverse gap-4">
            <!-- AVATAR -->

            <div
              class="w-10 h-10 flex items-center justify-center rounded-full"
            >
              <img
                src="/src/images/avatar-2.jpg"
                alt="avatar"
                class="w-8 h-8 rounded-full object-cover"
              />
            </div>

            <!-- FLAG -->

            <div
              class="w-10 h-10 flex items-center justify-center rounded-full"
            >
              <img
                src="/src/images/iran.png"
                alt="flag"
                class="h-8 w-8 rounded-full object-cover"
              />
            </div>

            <!-- MOON -->

            <div
              class="w-10 h-10 flex items-center justify-center rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 
                 0-1.33.266-2.597.748-3.752A9.753 9.753 
                 0 0 0 3 11.25C3 16.635 7.365 21 
                 12.75 21a9.753 9.753 0 0 0 
                 9.002-5.998Z"
                ></path>
              </svg>
            </div>
          </div>
        </section>
      </nav>
    </header>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </body>
</html>
