---
import Slider from "../components/Slider.astro";
import PlacesSlider from "../components/Places-Slider.astro";
import Places from "../components/Places.astro";
import Form from "../components/RequestForm.astro";
---

<main>
  <Slider />
  <PlacesSlider />
  <Places />
  <Form />
</main>
